* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration: underline;
}

body {
  font-family: 'calibri';
  background: #f2f2f2;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

body.dark {
  background: #192731;
}

html {
  scroll-behavior: smooth;
}

/* * ============================== */
/* * ============ HEADER ========== */
/* * ============================== */
.navbar {
  background: rgba(173, 145, 68, 0.9);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

body.dark .navbar {
  background: rgba(37, 46, 73, 0.9);
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
}

.contenedor {
  max-width: 1000px;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contenedor img {
  height: 50px;
  margin: 20px auto 20px auto;
}

/* * ============================ */
/* * ===== CONTENEDOR VIDEO====== */
/* * ============================ */
.contenedor-video {
  height: auto;
}

.contenedor-video video {
  width: 100%;
  height: 849px;
  vertical-align: top;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 bottom;
     object-position: 0 bottom;
}

/* * ============================== */
/* * ============ MAIN ============ */
/* * ============================== */
main {
  min-height: 100vh;
}

main .contenido {
  margin-bottom: 20px;
  line-height: 30px;
  width: 100%;
}

/* * ============================== */
/* * ============ ASIDE =========== */
/* * ============================== */
aside {
  min-width: 30%;
  margin: 40px 20px 20px 0;
  height: 100%;
  background: #1D2F3D;
  padding: 20px;
  border-radius: 3px;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}

body.dark aside {
  background: #252e49;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
}

aside .titulo {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 20px;
  color: #f2f2f2;
}

aside .indice a {
  display: block;
  margin-bottom: 10px;
  color: #FFCD48;
}

/* * ============================ */
/* * ========== CAJA ============ */
/* * ============================ */
.caja {
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.527);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.527);
  width: 100%;
  margin: 0 0px 50px 0px;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

body.dark .caja {
  background: #252e49;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
}

.caja h1 {
  color: #d4af47;
  margin-bottom: 50px;
  text-shadow: black 1px 1px;
}

body.dark .caja h1 {
  text-shadow: black 2px 2px;
}

.caja label {
  font-size: 20px;
  font-weight: bold;
}

body.dark .caja label {
  color: #fff;
}

.caja input {
  height: 40px;
  width: 50%;
  text-align: center;
  border-radius: 3px;
  border-color: white;
}

.caja input:focus {
  border: 3px solid #d4af47;
  outline: none;
  -webkit-box-shadow: 3px 0 30px rgba(163, 163, 163, 0.4);
          box-shadow: 3px 0 30px rgba(163, 163, 163, 0.4);
}

.caja button {
  background: #d4af47;
  border-color: #d4af47;
  color: #fff;
  height: 45px;
  width: 30%;
  margin-top: 40px;
}

.caja button:hover {
  color: #d4af47;
  background-color: #fff;
  border-color: #d4af47;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.527);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.527);
  -webkit-transition: .3s ease-out all;
  transition: .3s ease-out all;
}

.caja select {
  width: 30%;
  height: 30px;
}

/* * ============================== */
/* * ========== FOOTER ============ */
/* * ============================== */
footer {
  position: absolute;
  width: 100%;
  background: #fff;
}

body.dark footer {
  background: #252e49;
  color: #fff;
}

footer .content {
  width: 50%;
  margin-top: 100px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 16px;
}

/* * ===================== */
/* * ====== SWITCH ======= */
/* * ===================== */
.switch {
  background: #343d5b;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
}

.switch::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.switch.active {
  background: orange;
  color: black;
}

.switch.active::after {
  right: 0;
  left: unset;
}

.switch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #fff;
}

/* * =========================== */
/* * ====== RESPONSIVE ========= */
/* * =========================== */
@media screen and (max-width: 900px) {
  .navbar .contenedor {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    width: 100%;
  }
  .navbar a {
    width: auto;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .contenedor-imagen {
    height: 50vh;
  }
  main .contenedor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  aside {
    display: none;
  }
}
/*# sourceMappingURL=estilos.css.map */